<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav>
        <h2>logo</h2>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="#">Price</a></li>
        </ul>
        <ul class="log">
            <li><a class="sign-in" href="signin.html">Sign in</a></li>
            <li><a class="log-out" href="../index.html">Logout</a></li>
        </ul>
    </nav>
    <header>
        <div class="top">
            <h1>Welcome to my website</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ex eius necessitatibus quam eos dolor porro sunt delectus voluptatibus. Reprehenderit voluptas cupiditate nihil ut odit expedita esse, ratione assumenda odio?</p>
        </div>
        <div class="down">
            <a href="#">Learn More</a>
        </div>
    </header>
    <section>
        <div class="box">
            <h4>Person1</h4>
            <img src="https://wallpapers.com/images/high/anime-profile-uchiha-itachi-e8pf79rfxlazjt3o.webp" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima magni ea optio numquam aliquam repellendus tempore odit ab, vitae facere?</p>
            <a href="#">Contact</a>
        </div>
        <div class="box">
            <h4>Person2</h4>
            <img src="https://wallpapers.com/images/high/anime-profile-uchiha-itachi-e8pf79rfxlazjt3o.webp" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi repudiandae ex velit quidem laboriosam, quasi quod. Explicabo laboriosam animi saepe?</p>
            <a href="#">Contact</a>
        </div>
        <div class="box">
            <h4>Person3</h4>
            <img src="https://wallpapers.com/images/high/anime-profile-uchiha-itachi-e8pf79rfxlazjt3o.webp" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt corporis suscipit hic aliquam iure assumenda esse laudantium est placeat beatae!</p>
            <a href="#">Contact</a>
        </div>
        <div class="box">
            <h4>Person4</h4>
            <img src="https://wallpapers.com/images/high/anime-profile-uchiha-itachi-e8pf79rfxlazjt3o.webp" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt corporis suscipit hic aliquam iure assumenda esse laudantium est placeat beatae!</p>
            <a href="#">Contact</a>
        </div>
        <div class="box">
            <h4>Person5</h4>
            <img src="https://wallpapers.com/images/high/anime-profile-uchiha-itachi-e8pf79rfxlazjt3o.webp" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt corporis suscipit hic aliquam iure assumenda esse laudantium est placeat beatae!</p>
            <a href="#">Contact</a>
        </div>
        <div class="box">
            <h4>Person6</h4>
            <img src="https://wallpapers.com/images/high/anime-profile-uchiha-itachi-e8pf79rfxlazjt3o.webp" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt corporis suscipit hic aliquam iure assumenda esse laudantium est placeat beatae!</p>
            <a href="#">Contact</a>
        </div>
    </section>
    <footer>
        <p>&copy;Charif</p>
    </footer>
</body>
</html>