<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="product.css">
</head>
<body>
    <nav>
        <h2>logo</h2>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="#">Price</a></li>
        </ul>
        <ul class="log">
            <li><a class="sign-in" href="signin.html">Sign in</a></li>
            <li><a class="log-out" href="../index.html">Logout</a></li>
        </ul>
    </nav>
    <h1>Our Products</h1>
    <hr>
    <div class="container">
        <div class="box">
            <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2>Camera</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <h3 class="price">$100.00</h3>
            <a href="">Buy Now</a>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/2533266/pexels-photo-2533266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2>Shoes</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <h3 class="price">$100.00</h3>
            <a href="">Buy Now</a>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/4068314/pexels-photo-4068314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2>Shoes</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <h3 class="price">$100.00</h3>
            <a href="">Buy Now</a>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/335257/pexels-photo-335257.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2>Shoes</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <h3 class="price">$100.00</h3>
            <a href="">Buy Now</a>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/1738641/pexels-photo-1738641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2>Shoes</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <h3 class="price">$100.00</h3>
            <a href="">Buy Now</a>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/2536965/pexels-photo-2536965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2>Shoes</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <h3 class="price">$100.00</h3>
            <a href="">Buy Now</a>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/2622187/pexels-photo-2622187.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2>Shoes</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <h3 class="price">$100.00</h3>
            <a href="">Buy Now</a>
        </div>
        <div class="box">
            <img src="https://images.pexels.com/photos/2783873/pexels-photo-2783873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <h2>Shoes</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <h3 class="price">$100.00</h3>
            <a href="">Buy Now</a>
        </div>
    </div>
    <footer>
        <p>&copy;Charif</p>
    </footer>
</body>
</html>